* {
    box-sizing: border-box;
    margin: 0;
}

#music_container {
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}

#musiccard {
 display: flex;
 flex-direction: column;
 justify-content: center;
 flex-wrap: wrap;
 width: 175px;
 padding: 25px;
 align-items: center;
 align-content: center;

}

#musiccard.img {
    width: 50px;
    
}        